# Telegram Bot
BOT_TOKEN=8475749598:AAHZ0NfuBj5iNLecdb3Us_Sipx2_JQHubH0
BOT_USERNAME=@efsob_bot

# Database
DATABASE_URL=postgresql://neondb_owner:npg_Z7v5QfaVSYkz@ep-plain-cell-a8nza7z9-pooler.eastus2.azure.neon.tech/neondb?sslmode=require&channel_binding=require

# JWT
JWT_SECRET=87489f21ec74194e865d65f1caf1fd
JWT_EXPIRES_IN=7d

# App Settings
NODE_ENV=development
PORT=3000
CORS_ORIGIN=https://skillful-amazement-production.up.railway.app

# Railway
RAILWAY_TOKEN=95fabd98-a5be-4157-b5d6-055af4c1096a 